.select-box-component select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: white;
  color: var(--secondary-color);
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

.select-box-component label {
  color: black;
  padding: 5px 0px 3px 0px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
