.employee-table {
  max-height: 400px;
  overflow-y: scroll;
}

.employee-table .table {
  font-size: 14px;
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

.employee-table .row {
  display: table-row;
  background: #f6f6f6;
}
.employee-table .row:nth-of-type(odd) {
  background: #e9e9e9;
}
.employee-table .row.header {
  font-weight: 600;
  color: #ffffff;
  background: var(--secondary-color);
}
.employee-table .cell {
  padding: 6px 12px;
  display: table-cell;
}

.employee-table .employee-name {
  cursor: pointer;
}
.employee-table .fa-trash {
  color: red;
  cursor: pointer;
}
.fa-wrench {
  color: green;
  cursor: pointer;
}
.employee-table .fa-plus {
  cursor: pointer;
}
.employee-table .fa-plus:hover {
  background-color: #ffffff;
  color: var(--secondary-color);

  border-radius: 50%;
  font-weight: 800;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px;
}
